* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 140px;
}

.sidebar #sidenav {
    width: 140px;
    height: 100%;
}

#sidenav a {
    display: inline-block;
    position: fixed;
    left: 0;
    width: 140px;
    height: 10vh;
    padding: 28px 0px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid rgb(118, 116, 116);
}

#sidenav #sidenav-user {
    top: 8vh;
}

#sidenav #sidenav-user:hover,
#sidenav #sidenav-staff:hover,
#sidenav #sidenav-tuyen:hover,
#sidenav #sidenav-flight:hover,
#sidenav #sidenav-pilot:hover,
#sidenav #sidenav-admin:hover {
    background-color: #00AEBE;
}

#sidenav #sidenav-staff {
    top: 18vh;
}

#sidenav #sidenav-tuyen {
    top: 28vh;
}

#sidenav #sidenav-flight {
    top: 38vh;
}

#sidenav #sidenav-pilot {
    top: 48vh;
}
#sidenav #sidenav-admin {
    top: 58vh;
}

#sidenav a i {
    font-size: 30px;
    padding-left: 5px;
}

#sidenav span {
    position: absolute;
    line-height: 31px;
    left: 55px;
}

/* #sidenav a:hover {
    color: rgb(0, 182, 254);
} */